{% extends "admin/base_site.html" %}
{% block content %}   
<div id="content-main">
    {% if max_total > 0 %}
    <h2 style="color: #0c0c0c;">Current Leader</h2>
    <p style="font-size: 1.2em;">User: <strong>{{top_buyer.username }}</strong>
        {% for user in top_buyers %}
            {{ user.username }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p style="font-size: 1.2em;">Movies Purchased: <span style="color: #ffff00; font-weight: bold;">{{ max_total }}</span></p>
    {% else %}
        <p>No purchases have been recorded yet.</p>
    {% endif %}
</div>
{% endblock %}
